.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent .head {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.parent .head .status {
  display: flex;
  gap: 10px;
}
.parent .head span {
  color: #26a69a;
}
.parent .head button {
  margin-left: 15px;
}
.parent .head button span {
  color: #fff;
}
.container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  gap: 30px;
  background-color: #fff;
  box-shadow: 0 0 30px rgb(0 0 0 / 4%), 0 0 3px 0px #00968730;
  border-radius: 10px;
  gap: 30px;
  width: fit-content;
}

.card1 {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  box-shadow: 0 0 30px rgb(0 0 0 / 4%), 0 0 3px 0px #00968730;
  border-radius: 10px;
  padding: 10px 20px;
}

.card-content1 {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quant {
  display: flex;
}

button {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px;
  background: linear-gradient(45deg, #49c1a2, #37a08e);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
  transition: 0.25s;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:active {
  scale: 0.98;
  box-shadow: none;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quant button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.quant span {
  margin: 0 5px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.order {
  font-size: 20px;
  margin: 50px 0;
  width: 150px;
  height: 50px;
}

@media(max-width: 1024px) {
  .card1 {
    flex-direction: column;
  }
}
