/* You can add global styles to this file, and also import other style files */
::selection {
  color: #fff;
  background-color: #1d725da1;
}

::-moz-selection {
  color: #fff;
  background-color: #1d725da1;
}
