.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.cont {
  display: flex;
  justify-content: center;
}

td button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px;
  background: linear-gradient(45deg, #49c1a2, #37a08e);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
  transition: 0.2s;
  padding: 5px 10px;
  margin: 0 5px;
}
td button:active {
  scale: 0.98;
  box-shadow: none;
}
